div{
    width:100%;
     height:250px;
     display:flex;
     justify-content:center;
     align-items:center;
     overflow:hidden
 }
 div img{
   flex-shrink:0;
     -webkit-flex-shrink: 0;
     max-width:70%;
     max-height:90%;
 }
 