.App {
  text-align: center;
}

.App-logo {
  width: "100vmin";
  height: "10px";
  pointer-events: none;
}

.headerAll {
  background-color: #282c34;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
  justify-content: left;
  color: white;
}

table, th, td {
  border: 0px solid black;
}

table {
  margin-left: auto;
  margin-right: auto;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
